<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="igrek.songbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />

    <application
        android:name="igrek.songbook.MainApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/icon_launcher"
        android:roundIcon="@drawable/icon_launcher"
        android:banner="@drawable/banner"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        >

        <activity
            android:name=".activity.SplashScreenActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|navigation"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TvSplashScreenActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|navigation"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SharedSongOpenActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|navigation"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="songbook"
                    android:host="songbook.igrek.dev"
                    android:path="/song" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|navigation"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            />

        <activity
            android:name=".activity.TvActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|navigation"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            />

        <activity
            android:name=".activity.KickstartActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|navigation"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            tools:targetApi="n" />

        <activity
            android:name=".activity.CopyToClipboardActivity"
            android:exported="true"
            android:icon="@drawable/paste_black"
            android:label="@string/copy_to_clipboard"
            android:theme="@android:style/Theme.NoDisplay" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8517210898119735~9943078986" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true"/>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

</manifest>